################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp_porject1/.vs/WebApp_porject1
/WebApp_porject1/WebApp_porject1/bin/Debug/net6.0
/WebApp_porject1/WebApp_porject1/obj
